/* PC */
@media screen and (min-width: 992px) {
}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile */
@media screen and (max-width: 767px) {
    .wrapper {
        height: 800px;
        background-color: #fff;
    }

    .wrapper-top {
        display: flex;

        justify-content: space-between;
    }

    .wrapper-top .icon {
        font-size: 2rem;
        margin-left: 10px;
        margin-top: 36px;
    }

    .content-right-icon--align {
        color: #000;
    }

    .avatar-wrapper {
        position: relative;
        display: inline-block;
    }

    .avatar-wrapper {
        position: relative;
        display: inline-block;
    }

    .avatar {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        border-radius: 50%;
        margin-top: 30px;
        object-fit: cover;
        position: relative;
        z-index: 2;
        display: block;
    }

    .shine-effect {
        position: absolute;
        bottom: -6px;
        right: 8px;
        width: 100%;
        height: 20px; /* Điều chỉnh độ cao của hiệu ứng phát sáng */
        background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0)
        ); /* Điều chỉnh gradient cho hiệu ứng phát sáng */
        border-radius: 50%; /* Tạo hình dạng hình tròn */
    }

    .content-text h2 {
        font-size: 2rem;
        margin: 20px 0 0 20px;
        font-weight: 400;
    }

    .content-text h1 {
        font-size: 2.1rem;
        margin: 26px 0 0 20px;
        color: #333d39;
    }

    .content-text h3 {
        font-size: 1.4rem;
        margin: 12px 0 0 20px;
        opacity: 0.6;
        line-height: 24px;
    }

    .content-room {
        // background-color: #ccc;
        margin-top: 24px;
    }

    .content-room .title {
        margin-bottom: 5px;
        font-size: 2.1rem;
        color: #333d39;
        margin-left: 20px;
    }

    .content-room span {
        font-size: 1.5rem;
        //margin: 0 0 0 16px;
        font-weight: 500;
        display: inline-block;
    }

    // .content-room-list img {
    //     margin-top: 4px;
    //     flex-shrink: 0; /* Ngăn ảnh co lại để hiển thị tất cả hình */
    //     object-fit: cover;
    //     height: 370px;
    //     width: 370px;
    //     object-position: center;
    //     border-radius: 26px;
    //     filter: brihtness(0.5);
    //     // margin-left: 10px;
    // }

    // .content-room-list {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     // overflow-x: scroll;
    //     white-space: nowrap;
    //     margin: 0 20px;
    // }

    .content-room-list {
        display: flex;
        overflow: auto;
        scroll-snap-type: x mandatory;
        // justify-content: center;
    }

    .content-room-list .item {
        flex-shrink: 0;
        scroll-snap-align: start;
    }

    .content-room-list img {
        margin-top: 4px;
        height: 350px;
        // flex-shrink: 0; /* Ngăn ảnh co lại để hiển thị tất cả hình */
        width: 350px;
        object-fit: cover;
        object-position: center;
        border-radius: 26px;
        filter: brightness(0.5);
        // margin-right: 12px;
        margin: 0 10px;
    }

    .centered-image {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    // Bottom

    .wrapper-bottom {
        margin-top: 20px;
    }

    .stats-title {
        margin-left: 20px;
        font-size: 2.1rem;
        font-weight: 500;
        color: #333d39;
    }

    .content-right-draw-frame {
        margin-top: 20px;
        background-color: #1f3b2f;
        height: 220px;
        width: 100%;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        display: flex;
        justify-content: space-evenly;
    }

    .frame-item {
        height: 160px;
        // width: 90px;
        margin-top: 30px;
        background-color: #fff;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        flex-basis: 28%;
        display: flex;
        flex-direction: column; //1 hang
        align-items: center;
    }

    .item-one {
        // align-items: center;
    }

    .item-one span {
        font-size: 1.4rem;
        margin-top: 15px;
        margin-bottom: 16px;
        opacity: 0.8;
    }

    .item-two span {
        font-size: 1.4rem;
        margin-top: 15px;
        margin-bottom: 16px;
        opacity: 0.8;
    }

    .item-two .icon-lightbulb {
        color: #000;
        opacity: 0.8;
    }

    .item-three .icon-lightbulb {
        color: #000;
        opacity: 0.8;
    }

    .item-three span {
        font-size: 1.4rem;
        margin-top: 15px;
        margin-bottom: 16px;
        opacity: 0.8;
    }

    .item-two,
    .item-three {
        height: 160px;
        margin-top: 30px;
        background-color: #fff;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        flex-basis: 28%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000;
    }

    .item-three span {
        font-size: 1.7rem;
        margin-top: 10px;
        margin-bottom: 16px;
        opacity: 0.5;
    }

    .icon-lightbulb {
        font-size: 4rem;
        margin-top: 20px;
    }

    .toggle-button {
        padding: 3px 16px;
        background-color: #fff;
        border-color: #000;
        font-weight: bold;
        cursor: pointer;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
    }
    .toggle-button-on {
        font-size: 1.5rem;
        opacity: 0.7;
        // right: 4px;
    }

    .toggle-button.off {
        // background-color: #777;
        margin-left: 4px;
    }

    .cycle {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #10ca05;
        border: none;
        margin-right: -9px;
        margin-top: 2px;
        right: 4px;
        margin-left: 8px;
    }
    .red {
        background-color: red;
    }

    .bgofff {
        background-color: #4b6057;
        color: #e2e2e2;
        opacity: 0.8;
    }

    .bgofftwo {
        background-color: #4b6057;
        color: #e2e2e2;
        opacity: 0.8;
    }

    .iconofftwo {
        background-color: #4b6057 !important;
        color: #e2e2e2 !important;
    }

    .iconoffthree {
        background-color: #4b6057 !important;
        color: #e2e2e2 !important;
    }

    .bgoffthree {
        background-color: #4b6057;
        color: #e2e2e2;
        opacity: 0.8;
    }

    .cycle-off {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #2a4439;
        border: none;
        margin-left: -9px;
        margin-right: 4px;
        margin-top: 2px;
    }

    .button-off {
        opacity: 0.5;
        background-color: transparent !important;
        border-color: #3d5249 !important;
        color: #fff;
    }

    .sidebar-open {
        background-color: #1f3b2f;
        width: 100%;
        position: relative; /* Đảm bảo sidebar có vị trí tương đối để z-index hoạt động */
        z-index: 1;
        height: 900px;
    }

    .sidebar-open .content-category {
        height: 900px;

        z-index: 3;
    }

    .sidebar-open .content-category .content-category-top {
        display: flex;
        justify-content: space-between;
    }

    .sidebar-open .avatar {
        width: 60px;
        height: 60px;
        margin-right: 20px;
        border-radius: 50%;
        margin-top: 40px;
        object-fit: cover;
        position: relative;
        z-index: 2;
        display: block;
        margin-left: 20px;
    }

    .sidebar-open .shine-effect {
        position: absolute;
        bottom: -5px;
        right: 140px;
        width: 30%;
        height: 20px;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
        border-radius: 50%;
    }
    .sidebar-open .content-right-icon--align {
        margin-top: 50px;
        margin-right: 28px;
        color: #ccc;
        font-size: 2.2rem;
    }

    .sidebar-open .avatar-wrapper {
        display: flex;
    }
    .sidebar-open .info {
        flex: 1;
        margin-left: -5px;
        margin-top: 62px;
    }

    .sidebar-open .name {
        color: #fff;
        font-weight: 400;
        font-size: 1.6rem;
        opacity: 0.9;
        line-height: 10px;
    }

    .sidebar-open .job {
        color: #fff;
        font-weight: 500;
        font-size: 1.2rem;
        opacity: 0.4;
        margin-bottom: 4px;
    }

    .sidebar-open .content {
        display: flex;
    }

    .sidebar-open .content-category-link {
        color: #fff;
        margin-top: 140px;
    }

    .sidebar-open .content-category ul {
        list-style: none;
    }

    .sidebar-open .content-category-item {
        margin-left: 34px;
        margin-top: 22px;
        font-size: 2.1rem;
        font-weight: 200;
        opacity: 0.9;
    }

    .content-category-item .icon {
        margin-right: 10px;
        opacity: 0.8;
    }

    .content-category-item--link {
        text-decoration: none;
        color: #fff;
        margin-left: 12px;
    }
    .content-category-item--link:hover {
        text-decoration: none;
        color: #fff;
    }

    .logout {
        font-size: 2rem;
        margin-left: 40px;
        margin-top: 240px;
        color: #fff;
        opacity: 0.4;
        padding-top: 40px;
        font-weight: 400;
    }

    .sidebar-open > .wrapper-top,
    .sidebar-open > .wrapper-center,
    .sidebar-open > .wrapper-bottom {
        transform: scale(0.8) translateX(70%);
        z-index: 2;
        display: none;
    }
}
