/* PC */
@media screen and (min-width: 992px) {
}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile */
@media screen and (max-width: 767px) {
    .wrapper {
        height: 1000px;
        // background-color: red;
    }

    .wrapper-top {
        display: flex;

        justify-content: space-between;
    }

    .wrapper-top .icon {
        font-size: 2rem;
        margin-left: 20px;
        margin-top: 36px;
    }

    .content-right-icon--align {
        color: #000;
    }

    .avatar-wrapper {
        position: relative;
        display: inline-block;
    }

    .avatar-wrapper {
        position: relative;
        display: inline-block;
    }

    .avatar {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        border-radius: 50%;
        margin-top: 30px;
        object-fit: cover;
        position: relative;
        z-index: 2;
        display: block;
    }

    .shine-effect {
        position: absolute;
        bottom: -6px;
        right: 8px;
        width: 100%;
        height: 20px; /* Điều chỉnh độ cao của hiệu ứng phát sáng */
        background: radial-gradient(
            circle,
            rgba(255, 255, 255, 0.6),
            rgba(255, 255, 255, 0)
        ); /* Điều chỉnh gradient cho hiệu ứng phát sáng */
        border-radius: 50%; /* Tạo hình dạng hình tròn */
    }

    .content-text h2 {
        font-size: 2rem;
        margin: 20px 0 0 20px;
        font-weight: 400;
    }

    .content-text h1 {
        font-size: 2rem;
        margin: 30px 0 0 20px;
        color: #333d39;
    }

    .content-text h3 {
        font-size: 1.3rem;
        margin: 14px 0 0 20px;
        opacity: 0.7;
        line-height: 20px;
    }

    .content-room {
        // background-color: #ccc;
        margin-top: 20px;
    }

    .content-room .title {
        margin-bottom: 20px;
        font-size: 1.9rem;
    }

    .content-room span {
        font-size: 1.5rem;
        margin: 0 0 0 16px;
        font-weight: 500;
        display: inline-block;
    }

    // .content-room-list {
    //     display: flex;
    //     justify-content: space-between;
    // }
    // .content-room-left img {
    //     margin-top: 4px;
    //     height: 340px;
    //     width: 10px;
    //     background-color: #ccc;
    //     border-top-right-radius: 12px;
    //     border-bottom-right-radius: 12px;
    // }

    // .content-room-center {
    //     overflow: hidden;
    //     width: 340px;
    //     max-height: 340px;
    // }

    // .content-room-center img {
    //     margin-top: 4px;
    //     flex: 2;
    //     margin: 4px 6px 0px 0px;
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover;
    //     object-position: center;
    //     border-top-left-radius: 14px;
    //     border-top-right-radius: 14px;
    //     border-bottom-left-radius: 22px;
    //     border-bottom-right-radius: 22px;

    //     /* Apply darkness */
    //     filter: brightness(0.5); /* Adjust the value (0 to 1) to control the darkness */
    // }

    // .content-room-right img {
    //     margin-top: 4px;
    //     height: 340px;
    //     width: 10px;
    //     background-color: #ccc;
    //     border-top-left-radius: 12px;
    //     border-bottom-left-radius: 12px;
    // }

    .content-room-list {
        display: flex;
        justify-content: space-between;
        overflow-x: scroll;
        white-space: nowrap;
    }

    .content-room-list img {
        margin-top: 4px;
        height: 346px;
        flex-shrink: 0; /* Ngăn ảnh co lại để hiển thị tất cả hình */
        width: 346px;
        object-fit: cover;
        object-position: center;
        border-radius: 12px;
        filter: brightness(0.5);
        margin-right: 10px;
    }

    .content-room-center {
        margin-left: 6px;
    }

    .content-room-left {
        width: 350px;
    }

    // Bottom

    .wrapper-bottom {
        margin-top: 20px;
    }

    .stats-title {
        margin-left: 20px;
        font-size: 1.8rem;
        font-weight: 500;
    }
}
