/* PC */
@media screen and (min-width: 992px) {
}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile */
@media screen and (max-width: 767px) {
    @keyframes appear {
        0% {
            opacity: 0;
            visibility: hidden;
            transform: scale(0.5);
        }
        100% {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
    }
    .wrapper {
        height: 100vh;
        overflow: hidden;
    }
}
