/* PC */
@media screen and (min-width: 992px) {
}

/* Tablet & mobile */
@media screen and (max-width: 991px) {
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile */
@media screen and (max-width: 767px) {
    .wrapper {
        position: fixed;
        // height: 60px;
        box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
        display: flex;
        justify-content: center;
    }
    .inner {
        position: relative;
    }

    .background {
        width: 450px;
        max-height: 10000px;
    }

    .background img {
        flex: 2;
        margin: 0px 0px 0px 0px;
        width: 100%;
        // height: 400%;
        height: 550px;
        object-fit: cover;
        object-position: center;
    }
    .content-category-item--link {
        text-decoration: none;
        color: #fff;
    }
    .content-category-item--link:hover {
        text-decoration: none;
        color: #fff;
    }

    .back-icon {
        position: absolute;
        font-size: 2.4rem;
        top: 30px;
        left: 20px;
        color: #fff;
    }

    .avatar-wrapper img {
        position: absolute;
        right: 55px;
        top: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
    }

    .shine-effect {
        position: absolute;
        top: 50px;
        /* bottom: 272px; */
        right: 55px;
        width: 10%;
        height: 10px;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
        border-radius: 50%;
    }
    .content-bottom {
        background-color: #1f3b2f;
        height: 400px;
        position: absolute;
        height: 516px;
        width: 415px;
        top: 480px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    }

    .content-right-draw-frame {
        top: 494px;
        height: 200px;
        width: 415px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        display: flex;
        z-index: 5;
        justify-content: space-evenly;
    }
    .frame-item {
        height: 160px;
        // width: 90px;
        margin-top: 30px;
        background-color: #fff;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        flex-basis: 28%;
        display: flex;
        flex-direction: column; //1 hang
        align-items: center;
    }

    .item-one {
        // align-items: center;
    }

    .item-one span {
        font-size: 1.4rem;
        margin-top: 15px;
        margin-bottom: 16px;
        opacity: 0.8;
    }

    .item-two span {
        font-size: 1.4rem;
        margin-top: 15px;
        margin-bottom: 16px;
        opacity: 0.8;
    }

    .item-two .icon-lightbulb {
        color: #000;
        opacity: 0.8;
    }

    .item-three .icon-lightbulb {
        color: #000;
        opacity: 0.8;
    }

    .item-three span {
        font-size: 1.4rem;
        margin-top: 15px;
        margin-bottom: 16px;
        opacity: 0.8;
    }

    .item-two,
    .item-three {
        height: 160px;
        margin-top: 30px;
        background-color: #fff;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
        flex-basis: 28%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #000;
    }

    .item-three span {
        font-size: 1.7rem;
        margin-top: 10px;
        margin-bottom: 16px;
        opacity: 0.5;
    }

    .icon-lightbulb {
        font-size: 4rem;
        margin-top: 20px;
    }

    .toggle-button {
        padding: 3px 16px;
        background-color: #fff;
        border-color: #000;
        font-weight: bold;
        cursor: pointer;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        display: flex;
    }
    .toggle-button-on {
        font-size: 1.5rem;
        opacity: 0.7;
        // right: 4px;
    }

    .toggle-button.off {
        // background-color: #777;
        margin-left: 4px;
    }

    .cycle {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #10ca05;
        border: none;
        margin-right: -9px;
        margin-top: 2px;
        right: 4px;
        margin-left: 8px;
    }
    .red {
        background-color: red;
    }

    .bgofff {
        background-color: #4b6057;
        color: #e2e2e2;
        opacity: 0.8;
    }

    .bgofftwo {
        background-color: #4b6057;
        color: #e2e2e2;
        opacity: 0.8;
    }

    .iconofftwo {
        background-color: #4b6057 !important;
        color: #e2e2e2 !important;
    }

    .iconoffthree {
        background-color: #4b6057 !important;
        color: #e2e2e2 !important;
    }

    .bgoffthree {
        background-color: #4b6057;
        color: #e2e2e2;
        opacity: 0.8;
    }

    .cycle-off {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #2a4439;
        border: none;
        margin-left: -9px;
        margin-right: 4px;
        margin-top: 2px;
    }

    .button-off {
        opacity: 0.5;
        background-color: transparent !important;
        border-color: #3d5249 !important;
        color: #fff;
    }

    .line {
        position: absolute;
        display: inline-block;
        width: 370px;
        border-top: 1px solid white;
        z-index: 2;
        margin-top: 12px;
        margin-left: 22px;
        margin-right: 22px;
        opacity: 0.5;
    }

    .content-text {
        position: absolute;
        z-index: 2;
        color: #fff;
        width: 100%;
        margin-top: -125px;
        line-height: 20px;
    }

    .content-text .power h1 {
        margin-top: 150px;
        font-size: 1.4rem;
        font-weight: 400;
    }

    .content-text .total h1 {
        // margin-top: 80px;
        font-size: 1.4rem;
        font-weight: 400;
    }

    .content-text .avegare h1 {
        // margin-top: 80px;
        font-size: 1.4rem;
        font-weight: 400;
    }

    .item-two .icon-lightbulb {
        color: #fff;
        opacity: 0.7;
    }

    .power,
    .total,
    .avegare {
        display: flex;
        justify-content: space-between;
        margin-top: 12px;
        align-items: center; /* Để căn giữa theo chiều dọc */
        margin-left: 22px;
        font-size: 0.6rem;
        opacity: 0.8;
        font-weight: 300;
    }

    .power .detail,
    .total .detail,
    .avegare .detail {
        margin-left: auto; /* Thêm thuộc tính này để đẩy phần tử sang góc bên phải */
        margin-right: 25px;
        font-size: 1.4rem;
        font-weight: 400;
    }
    .line-second {
        position: absolute;
        display: inline-block;
        border-top: 1px solid white; /* Thêm thuộc tính này */
        z-index: 2;
        width: 370px;
        margin-top: 144px;
        margin-right: 50px;
        margin-left: 22px;
        opacity: 0.5;
    }
    .schedule {
        position: absolute;
        z-index: 2;
        color: #fff;
        width: 100%;
        display: flex;
        margin-top: 164px;
        margin-left: 30px;
        align-items: center; /* Để căn giữa theo chiều dọc */
        margin-left: 22px;
        font-size: 0.6rem;
        opacity: 0.9;
        font-weight: 300;
    }

    .schedule h1 {
        font-size: 1.4rem;
        opacity: 0.8;
        font-weight: 400;
    }

    .schedule .icon-off {
        font-size: 2.8rem;
        margin-left: auto;
        margin-top: -5px;
        margin-right: 45px;
        font-weight: 300;
        opacity: 0.2;
    }
}
